@import "~normalize.css";
@import "~@blueprintjs/core";

.main {
  background: red;
}

#profile-image {
  border-radius: 307px;
  height: 100%;
}


#header-container {
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid black;
  #header-row {
    height: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;

    > div {
      height: 100%;
    }
  }
}
